{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%entity.code%": entity.code, "%entityName%": 'sbts.issue.entity_label' | trans }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('sbts_issue_update', { id: entity.id }),
            'entity_label': 'sbts.issue.entity_label' | trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('sbts_issue_update', {'id': entity.id}),
            'dataRedirect': path('sbts_issue_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'sbts.issue.entity_label' | trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('sbts_issue_index'),
        'indexLabel': 'sbts.issue.entity_plural_label' | trans,
        'entityTitle': entity.code ~ ' ' ~ entity.summary
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set issueInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('sbts.issue.summary.label' | trans, entity.summary) }}
                {{ UI.renderHtmlProperty('sbts.issue.description.label' | trans, entity.description | nl2br) }}
                {{ UI.renderProperty('sbts.issue.issue_type.label' | trans, entity.issueType) }}
                {{ UI.renderProperty('sbts.issue.issue_priority.label' | trans, entity.issuePriority) }}
                {{ UI.renderProperty('sbts.issue.issue_resolution.label' | trans, entity.issueResolution) }}
                {{ UI.renderProperty('sbts.issue.created_at.label' | trans, entity.createdAt | oro_format_datetime) }}
                {{ UI.renderProperty('sbts.issue.updated_at.label' | trans, entity.updatedAt | oro_format_datetime) }}

                {%- set reporterData -%}
                    {%- if entity.reporter -%}
                        {% if resource_granted('oro_user_user_view') %}
                            <a href="{{ path('oro_user_view', {'id': entity.reporter.id}) }}">
                                {{ entity.reporter | oro_format_name | escape }}
                            </a>
                        {% else %}
                            {{ entity.reporter | oro_format_name | escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('sbts.issue.reporter.label' | trans, reporterData) }}

                {%- set assigneeData -%}
                    {%- if entity.owner -%}
                        {% if resource_granted('oro_user_user_view') %}
                            <a href="{{ path('oro_user_view', {'id': entity.owner.id}) }}">
                                {{ entity.owner | oro_format_name | escape }}
                            </a>
                        {% else %}
                            {{ entity.owner | oro_format_name | escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('sbts.issue.owner.label' | trans, assigneeData) }}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information' | trans,
            'class': 'active',
            'subblocks': [{
                'data' : [ issueInformation ]
            }]
        }
    ] %}

    {% set id = 'issueView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
